#content {

  &-wrap {
    .cover();
    z-index: 99;
  }

  &-mobile {
    @media @min {
      display: block;
    }
    @media @tablet {
      display: none;
    }
  }

  &-headline {
    
    @media @min {
      position: relative;
      padding-top: 5px;
      width: 100%;
      background-color: #FBF9F6;
      padding-bottom: 25px;
    }
    @media @tablet {
      padding-bottom: 0;
      background-color: transparent;
    }
    @media @desktop {
      position: absolute;
      top: 35%;
      width: 100%;
      padding-top: 0;
      transform: translateY(-50%);
    }
    
    & .logo {
      @media @min {
        width: 120px;
        margin-bottom: 35px
      }
      @media @tablet {
        width: auto;
        margin-bottom: 65px
      }
      
    }
    & .headline {
      font-weight: 600;
      color: @black;
      @media @min {
        font-size: 32px;
        line-height: 1.2;
        letter-spacing: -1px;
      }
      @media @tablet {
        font-size: 62px;
        line-height: 1;
      }
    }
  }

  &-description {

    color: @white;
    padding-bottom: 30px;
    -webkit-font-smoothing: antialiased;

    @media @min {
      position: relative;
      padding-top: 25px;
      background-color: #1F349D;
    }
    @media @tablet {
      padding-top: 0;
      background-color: transparent;
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    & .title {
      margin-bottom: @spacer*.25;
      font-weight: 600;
    }
    & .body {
      @media @min {
        font-size: 13px;
        line-height: 1.5;
        margin-bottom: 8px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      @media @tablet {
        font-size: 12px;  
        line-height: 1.6;
        margin-bottom: 0;
      }
      
      
      & .title {
        text-transform: uppercase;
      }
    }

  }

}